@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,700;0,900;1,300&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
}

/* Header */

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f6ebf4;
    padding: 24px;
}

.header h1 {
    color: #482673;
    font-size: 72px;
}

/* Footer */

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f6ebf4;

    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
}

.footer p {
    color: #482673;
    font-size: 18px;
}

/* Main */

.main {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 24px;
}

.main #canvas {
    width: 500px;
    height: 500px;
    background-color: aqua;

    margin: 24px;
}

.main #canvas .row {
    display: flex;
}
